@font-face {
    font-family: ModernWarfare;
    src: url(../assets/ModernWarfare-8MM6z.ttf);
}

@font-face {
    font-family: ModernWarfare2;
    src: url(../assets/Poster\ Gothic\ ATF\ Regular.otf);
}


body {
    margin: 0;
    padding: 0;
    background-image: url('../assets/modern-warfare-2_kdmj.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: #fff;
    font-family: ModernWarfare;
}



header {
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    position: fixed;
    width: 100%;
    height: 8%;
    z-index: 1000;
    text-align: center;
    align-items: center;

}

header h1{

    cursor: pointer;
  
  }
  

.ul_navbar {

    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 1000px;

}

.li_nav {

    cursor: pointer;

}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;


}

nav li a:hover {

    background-color: #9ad731;
    color: black;

}

.p_welcome {

    color: #ffffff;
    font-size: 30px;
    top: 10;
    margin-left: 20px;

}

.card_welcome {

    width: 580px;
    height: 600px;
    background-color: #b8a12f00;
    line-height: 40px;
    text-align: center;

}

.p_mensagem {

    font-size: 25px;
    font-family: ModernWarfare2;
    color: #b8a12f;

}

.botao_cadastro {

    font-family: ModernWarfare;
    width: 230px;
    height: 50px;
    border: solid black;
    border-radius: 9px;
    background-color: #b8a12f8f;
    cursor: pointer;
    font-size: 20px;

}

.botao_cadastro:hover {

    background-color: #b8a12f;

}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 30px;
    font-size: 20px;
}


/* FIM NAV BAR */

.container_armas {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 700px;
    background-color: #b8a12f00;
    margin-top: 40px;
    margin-left: 14px;
    position: absolute;

}

.card_armas {
    display: flex;
    width: 450px;
    height: 250px;
    background-color: #1e1e1d;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 10px;


}

.card_armas:hover {

    border: 10px;
    border: #9ad731 solid;
    box-shadow: 5px 5px 5px #9ad731;

}


.div_up {

    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: 100%;
    height: 35%;

}

.div_down {

    margin-top: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: 100%;
    height: 40%;


}

.arma_1 {

    background-image: url(../assets/armas/Captura\ de\ tela\ 2023-11-27\ 183047.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #222222;


}

.arma_2 {

    background-image: url(../assets/armas/Captura\ de\ tela\ 2023-11-27\ 183007.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #202020;


}

.arma_3 {

    background-image: url(../assets/armas/Captura\ de\ tela\ 2023-11-27\ 183117.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #232423;


}

.arma_4 {

    background-image: url(../assets/armas/Captura\ de\ tela\ 2023-11-27\ 183327.png);
    background-size: contain;
    background-repeat: no-repeat;

}

.arma_5 {
    background-image: url(../assets/armas/Captura\ de\ tela\ 2023-11-27\ 183715.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #202020;


}

.arma_6 {

    background-image: url(../assets/armas/Captura\ de\ tela\ 2023-11-27\ 183859.png);
    background-size: contain;
    background-repeat: no-repeat;

}

.span_armas {

    margin-top: 10px;
    margin-left: 10px;

}

.button_armas {


    background-color: #f94f009e;
    color: #000000;
    padding: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 20%;
    margin-top: 20px;
    font-family: ModernWarfare;
}

.button_armas:hover {
    background-color: #f95000;
}